@import './styles/gradient.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  html {
    overflow-y: scroll;
  }

  body {
    @apply bg-gray-50 text-primaryText;
  }

  html.dark body {
    @apply bg-gray-900 text-white;
  }
}

@keyframes neon-pulse-blue {
  0%, 100% { box-shadow: 0 0 5px theme('colors.blue.400'); }
  50% { box-shadow: 0 0 20px theme('colors.blue.400'), 0 0 30px theme('colors.blue.400'); }
}

@keyframes neon-pulse-dark {
  0%, 100% { box-shadow: 0 0 5px rgba(110, 5, 114, 0.3); }
  50% { box-shadow: 0 0 20px rgba(6, 243, 113, 0.3), 0 0 30px rgba(161, 11, 167, 0.3); }
}

.neon-blue {
  animation: neon-pulse-blue 5s infinite;
}

.neon-dark {
  animation: neon-pulse-dark 5s infinite;
}

.neon-animate {
  animation: neon-pulse 5s infinite;
}
